{% extends 'base.html.twig' %}

{% block title %}Robot index{% endblock %}

{% block body %}
    <h1>Robot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Power</th>
                <th>ImageUrl</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for robot in pagination %}
            <tr>
                <td>{{ robot.id }}</td>
                <td>{{ robot.name }}</td>
                <td>{{ robot.type.value }}</td>
                <td>{{ robot.power }}</td>
                <td><img width="150" height="150" src="{{ robot.imageUrl }}"/></td>
                <td>{{ robot.createdAt ? robot.createdAt|date('Y.m.d. H:i:s', 'Europe/Budapest')  : '' }}</td>
                <td>{{ robot.updatedAt ? robot.updatedAt|date('Y.m.d. H:i:s', 'Europe/Budapest')  : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_robot_show', {'id': robot.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_robot_edit', {'id': robot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-center mt-4">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('app_robot_new') }}">Create new</a>
{% endblock %}
